<%= render 'users/list', users: @users %>

<div class="col-lg-8">
    <h2>Books</h2>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
        </thead>

        <tbody>
            <% @books.each do |book| %>
                <tr>
                    <td><%= attachment_image_tag book.user, :profile_image, :fill,20, 20, format: 'jpeg', fallback: "no_image.jpg" %></td>
                    <td><%= book.title %></td>
                    <td><%= book.body %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>